# ===============================================================================
# PROJECT-SPECIFIC IGNORE STRATEGIES
# ===============================================================================
**/reference/
**/ssmixtwins.egg-info/
ssmixtwins/build

# ===============================================================================
# COMMON .GITIGNORE STRATEGIES TO ALL PYTHON PROJECTS
# Note: This covers a wide range of possible files and directories.
#       Remove unnecessary entries for your project to avoid conflicts.
# ===============================================================================
# ------------------------------------------------------------------------------
# IDE/editor settings
# ------------------------------------------------------------------------------
**/.vscode/*
**/.devcontainer/*
# ------------------------------------------------------------------------------
# Development-only files
# ------------------------------------------------------------------------------
**/.env
**/.env.development
**/docker-compose.override.yml
# -------------------------------------------------------------------------------
# Log files
# -------------------------------------------------------------------------------
**/*.log
**/*.log.*
**/nohup.out
# ------------------------------------------------------------------------------
# System files etc
# ------------------------------------------------------------------------------
**/.DS_Store
**/.hypothesis/*
**/dask-worker-space/*
# Exclude 'core' files (error dumps)
**/core
# But keeps directories named 'core'
!**/core/*
# ------------------------------------------------------------------------------
# Sphinx documentation build artifacts
# ------------------------------------------------------------------------------
**/docs/build/**
**/docs/source/generated/**
# ------------------------------------------------------------------------------
# Python related files
# ------------------------------------------------------------------------------
**/venv/
**/.venv/
**/.eggs
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
# ------------------------------------------------------------------------------
# IPython / notebooks
# ------------------------------------------------------------------------------
**/.ipynb_checkpoints/
